<div class="container-fluid">
	<div class="row">
		<!-- Left Panel -->
		<div class="col-md-2 left-panel">
			<ul type="none" class="list-group">
				<li class="list-group-item" *ngFor="let category of categories" (click)="selectCategory(category)">{{category}}</li>
			</ul>	
		</div>

		<div class="col-md-1"></div>

		<div class="col-md-8">
		<!-- Products -->
		<a href="ad.html">
			<div class="panel panel-default">
				<div class="panel-body ad-card">
					<div class="row">
						<div class="col-md-3">
						<div class="center">
							<img src="https://dummyimage.com/200">
							</div>
						</div>
						<div class="col-md-9">
							<h1>Product Name </h1><h2>₹1000</h2>
							<h3>posted by <span class="user">user1</span> on <span class="date">12/07/20</span></h3>
							<p>This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription.</p>
						</div>
					</div>
				</div>
			</div>
		</a>

		<a href="ad.html">
			<div class="panel panel-default">
				<div class="panel-body ad-card">
					<div class="row">
						<div class="col-md-3"> <div class="center">
							<img src="https://dummyimage.com/200">
							</div>
						</div>
						<div class="col-md-9">
							<h1>Product Name </h1><h2>₹1000</h2>
							<h3>posted by <span class="user">user1</span> on <span class="date">12/07/20</span></h3>
							<p>This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription.</p>
						</div>
					</div>
				</div>
			</div>
		</a>

		<a href="ad.html">
			<div class="panel panel-default">
				<div class="panel-body ad-card">
					<div class="row">
						<div class="col-md-3">
							<img src="https://dummyimage.com/200">
						</div>
						<div class="col-md-9">
							<h1>Product Name </h1><h2>₹1000</h2>
							<h3>posted by <span class="user">user1</span> on <span class="date">12/07/20</span></h3>
							<p>This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription.</p>
						</div>
					</div>
				</div>
			</div>
		</a>

		<a href="ad.html">
			<div class="panel panel-default">
				<div class="panel-body ad-card">
					<div class="row">
						<div class="col-md-3">
							<img src="https://dummyimage.com/200">
						</div>
						<div class="col-md-9">
							<h1>Product Name </h1><h2>₹1000</h2>
							<h3>posted by <span class="user">user1</span> on <span class="date">12/07/20</span></h3>
							<p>This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription.</p>
						</div>
					</div>
				</div>
			</div>
		</a>

		<a href="ad.html">
			<div class="panel panel-default">
				<div class="panel-body ad-card">
					<div class="row">
						<div class="col-md-3">
							<img src="https://dummyimage.com/200">
						</div>
						<div class="col-md-9">
							<h1>Product Name </h1><h2>₹1000</h2>
							<h3>posted by <span class="user">user1</span> on <span class="date">12/07/20</span></h3>
							<p>This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription. This is product discription.</p>
						</div>
					</div>
				</div>
			</div>
		</a>

	 	<!-- Pagination -->
	 	<div class="center">
	 	<ul class="pagination">
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
	  	</ul>
	  	</div>

		</div>

		<div class="col-md-1"></div>
	</div>
</div>