<div class="container-fluid">
	<div class="row">
		<!-- Left Panel -->
		<div class="col-md-2 left-panel">
			<ul type="none" class="list-group">
				<li class="list-group-item" *ngFor="let category of categories" [ngClass]="{ 'active': category == selectedCategory }" (click)="selectCategory(category)">{{category}}</li>
			</ul>	
		</div>

		<div class="col-md-1"></div>

		<div class="col-md-8">			
		<!-- Products -->

		<div *ngFor="let adv of advertisements" (click)="this.router.navigate(['/adv', adv.id])">
			<div class="panel panel-default" >
				<div class="panel-body ad-card">
					<div class="row">
						<div class="col-md-3">
							<div class="center">
								<img src="https://dummyimage.com/200">
							</div> 
						</div>
						<div class="col-md-9">
							<h1>{{adv.title}}</h1>
							<h3>posted by <span class="user">{{adv.userId}}</span> on <span class="date">{{adv.createdDate | date}}</span></h3>
							<p>{{adv.description}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>

		<div class="col-md-1"></div>
	</div>
</div>