<nav class="navbar nav navbar-default navbar-fixed-top mynav">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand"> Adv</a>
        </div>
        <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="nav navbar-nav">
            <li (click)="this.router.navigate([''])"><a> Home</a></li>
                      
            <li (click)="checkPost()"><a> Post Ad</a></li>
            <li>
            <form class="navbar-form navbar-left">
            <div class="input-group ">
                <input type="text" class="form-control" placeholder="Search" #searchRef>
                <div class="input-group-btn">
                 <button class="btn btn-default" type="button" (click)="search(searchRef.value)">
                    <i class="glyphicon glyphicon-search"></i>
                </button> 
                </div>
            </div>
            </form>
            </li>
        </ul>    

        <ul class="nav navbar-nav navbar-right" *ngIf="!loggedIn">            
            <li (click)="this.router.navigate(['signup'])"><a ><span class="glyphicon glyphicon-user"></span>  Sign Up</a></li>
            <li (click)="this.router.navigate(['login'])"><a ><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" *ngIf="loggedIn">
            <li class="dropdown">
	      	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>  {{username}}
	      	<span class="caret"></span></a>
	      	<ul class="dropdown-menu list-group">
	      		<li class="list-group-item" (click)="this.router.navigate(['profile'])"><a><span class="glyphicon glyphicon-user"> </span> Profile</a></li>
	      		<li class="list-group-item" (click)="this.router.navigate(['signup'])"><a><span class="glyphicon glyphicon-inbox"> </span> Messages</a></li>
	      		<li class="list-group-item" (click)="this.router.navigate(['myads'])"><a><span class="glyphicon glyphicon-th-list"> </span> My Ads</a></li>	      		
	      		<li class="list-group-item" (click)="logout()"><a><span class="glyphicon glyphicon-log-out"> </span> Logout</a></li>  		
	      	</ul>
	      </li>
        </ul>
        
        </div>
    </div>
</nav>

<router-outlet> </router-outlet>

<footer class="footer">
    <div class="row"> 
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <p>ADV</p>
        <p>Contact information: someone@example.com</p>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-3 center"> 
        <p> Connect With Us: </p>
            <a href="https:\\www.google.com" target="_blank" data-toggle="tooltip" data-placement="auto top" title="Facebook"> <img src="../img/fb.jpg" class="img-circle icon" height="25px" width="auto"> </a>
            <a href="https:\\www.google.com" target="_blank" data-toggle="tooltip" data-placement="auto top" title="Twitter"> <img src="../img/twitter.png" class="img-circle icon" height="25px" width="auto"> </a>
            <a href="https:\\www.google.com" target="_blank" data-toggle="tooltip" data-placement="auto top" title="Google+"> <img src="../img/gplus.png" class="img-circle icon" height="25px" width="auto"> </a>
        
        </div>
        <div class="col-md-1"></div>
    </div>
</footer> 