<div class="container-fluid">
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading panel-header-text">
				EDIT PROFILE
			</div>
			<form>
				<div class="panel-body">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" class="form-control" name="fname" placeholder="First Name">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" class="form-control" name="lname" placeholder="Last Name">
						</div>
					</div>					
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input type="password" class="form-control" name="passwd" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input type="password" class="form-control" name="cpasswd" placeholder="Confirm Password">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							<input type="email" class="form-control" name="cpasswd" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
							<input type="text" class="form-control" name="cpasswd" placeholder="Mobile Number">
						</div>
					</div>					
				</div>
				<div class="panel-footer panel-footer-text">
					<div class="form-group">
						<div class="btn-group btn-group-horizontal center">
							<input type="submit" name="save" class="btn btn-primary btn-md" value="Save">
							<input type="button" name="cancel" class="btn btn-default btn-md" onclick="location.href = 'user.html';" value="Cancel">
						</div>
					</div>
					
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>
</div>